@font-face { 
  font-family: Ubuntu;
  src: url('/template/res/Ubuntu.ttf');
}

html {
  min-height: 100%;
  position: relative;
  font-family: Ubuntu, sans-serif;
}

body {
  background-image: url('/template/res/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

button {
  font-family: Ubuntu, sans-serif;
  transition: all 0.5s;
}

input {
  font-family: Ubuntu, sans-serif;
  transition: all 0.5s;
}