@import "/template/res/common.css";

::selection {
  background: #3ABFFE;
  color: white;
}
::-moz-selection {
  background: #3ABFFE;
  color: white;
}
    
.div {
  padding-top: 10%;
  height: 50%;
  width: 25%;
  margin: 0 auto;
}
    
.submit {
  border-radius: 4px;
  background-color: #4FACFE;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}
    
.submit:hover {
  background-color: #3ABFFE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}
    
.box {
  width: 100%;
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
  border-radius: 5px 5px 5px 5px / 3px 3px 3px 3px;
  background-color: white;
  color: black;
  transition: all 0.5s;
}
    
#passbox {
  width: 100%;
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 28px;
  border-radius: 5px 5px 5px 5px / 3px 3px 3px 3px;
  background-color: white;
  color: black;
}
    
.box:hover {
  border-color: rgba(79, 172, 254, .8);
  box-shadow: 0px 0px 5px rgba(79, 172, 254, .8);
}
    
.box:focus {
  border-color: rgba(79, 172, 254, .8);
  box-shadow: 0px 0px 5px rgba(79, 172, 254, .8);
}
    
#passbox:hover {
  border-color: rgba(79, 172, 254, .8);
  box-shadow: 0px 0px 5px rgba(79, 172, 254, .8);
}
    
#passbox:focus {
  border-color: rgba(79, 172, 254, .8);
  box-shadow: 0px 0px 5px rgba(79, 172, 254, .8);
}
    
.subdiv {
  width: 100%;
  text-align: center;
}
    
p {
  color: #212121;
  font-size: 16px;
}

/*h6 {
  color: #212121;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}

a {
  font-family: sans-serif;
  border-radius: 5px 5px 5px 5px / 3px 3px 3px 3px;
  background-color: #f30;
  transition: all 0.5s;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  background-color: #f90;
  
}*/
    
.form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: 5px 5px 5px 5px / 3px 3px 3px 3px;
  background-color: white;
  padding: 16px;
}
    
.logo {
  width: fixed;
  height: 64px;
}
    
#pass {
  margin-bottom: -6px;
  margin-left: -28px;
  width: 20px;
  height: 20px;
}