@import "/template/res/common.css";

#main {
  padding-top: 13%;
  height: 50%;
  width: 25%;
  margin: 0 auto;
  
}

#subdiv {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border-radius: 5px 5px 5px 5px / 3px 3px 3px 3px;
  padding: 0px;
  padding-bottom: 16px;
  background-color: white;
  text-align: center;
}

#return {
  border-radius: 4px;
  background-color: #4FACFE;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}
    
#return:hover {
  background-color: #3ABFFE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

#err {
  font-size: 16px;
  font-weight: light;
  border-radius: 5px 5px 0px 0px / 3px 3px 0px 0px;
  background-color: #f30;
  color: white;
  padding: 16px;
}

#error {
  color: black;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}